* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background: linear-gradient(-45deg, #0d1b2a, #1b263b, #415a77);
    background-size: 400% 400%;
    animation: gradientAnimation2 8s ease infinite;
}

@keyframes gradientAnimation2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    background: linear-gradient(135deg, #eeae48, #ff7f50);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 2rem 1rem;
    height: auto; /* ou defina uma altura máxima se necessário */
}


.galeria {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden; /* <-- isso ajuda */
    gap: 1rem;
    scroll-behavior: smooth;
  }
  

.foto {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.foto:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.nav {
    background: linear-gradient(135deg, #eeae48, #ff7f50);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 5rem;
}

.nav:hover {
    opacity: 0.9;
}



.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.galeria-grid .foto {
    width: 100%;
    height: 350px;
}

footer {
    background: linear-gradient(135deg, #eeae48, #ff7f50);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}